<!-- src/views/_layout.ejs -->

<script>
const dynamicLinks = ({ user } = {}) => {
  return `
    <li class="nav-item"><a class="nav-link" aria-current="page" href="/posts">Home</a></li>
    ${
      user ? `
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Menu</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/my/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/my/posts">My Posts</a></li>
            <li><a class="dropdown-item" href="/my/posts/new">Create</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="logout">Log Out</a></li>
          </ul>
        </li>
      ` : `
        <li class="nav-item"><a class="nav-link" href="/auth/login">Log In</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/Signup">Signup</a></li>
      `
    }
  `
}

const replaceDynamicLinks = (info) => {
  const $links = dynamicLinks(info)

  $('#links').html('').append($links)
}

const getMyProfile = () => {
  axios({
    method: 'GET',
    url: '/api/my/profile',
  }).then((resp) => {
    replaceDynamicLinks({ user: resp.data })
  }).catch(() => {
    replaceDynamicLinks()
  })
}

const handleLogout = (e) => {
  e.preventDefault()
  axios({
    method: 'DELETE',
    url: '/api/auth/logout'
  }).then(() => {
    window.location.href = '/'
  })
}

$(document).ready(() => {
  getMyProfile()
  $('body').on('click', '#logout', handleLogout)
})
</script>

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts"><img
        src="https://ch6-kc-lesson-restful-api.s3.ap-southeast-1.amazonaws.com/KC-Logo.png" alt="Logo" width="50"
        height="50"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul id="links" class="navbar-nav justify-content-end flex-grow-1 pe-3">
        </ul>
      </div>
    </div>
  </div>
</nav>
