<!-- src/views/not-found.ejs -->

<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
  <div id="pages-not-found" class="container">
    <h1 class="text-center">No Such Page</h1>
  </div>
