<!-- src/views/posts/new.ejs -->
<%- contentFor('styles') %>
<style>
  .preview-image {
    width: 100px;
    height: auto;
  }
</style>

<%- contentFor('scripts') %>
<script>
  const generateTitle = () => {
    return '<h1 class="text-center mb-3">New Post</h1>'
  }

const generateImageInputs = (post, errors) => {
  const images = post?.images || []

  return images.map((image, i) => {
    return `
      <div class="mb-3">
        <label for="post-image-${i}" class="form-label">Image ${i + 1}</label>
        <button class="delete-image btn btn-danger btn-sm float-end" data-index="${i}" type="button">Delete</button>
        <input type="file" class="file-input form-control" name="images[${i}][url]">
        <div class="invalid-feedback">${errors?.images?.[i]?.url || ''}</div>
      </div>
    `
  }).join('')
}

const generateForm = ({ post, errors } = {}) => {
  const $form = $(`
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="post-new-form">
          <div class="mb-3">
            <textarea
              id="post-content"
              class="form-control ${errors?.content && 'is-invalid'}"
              name="content"
              rows="3"
            >${post?.content || ''}</textarea>
            <div class="invalid-feedback">${errors?.content || ''}</div>
          </div>

          <div class="mb-3 text-center">
            <div class="mb-2 fw-bold">Images (Optional)</div>
            ${generateImageInputs(post, errors)}
            <button id="add-post-image" button class="btn btn-outline-primary" type="button">Add Image</button>
          </div>

          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `)

  post?.images?.forEach((imageData, i) => {
    if (imageData?.url?.constructor?.name === 'File') {
      const $image = $('.file-input').eq(0).attr('class', `file-input form-control ${errors?.images?.[i]?.url && 'is-invalid'}`)
      $form.find('.file-input').eq(i).replaceWith($image)

      const url = URL.createObjectURL(imageData.url)
      $image.before(`<img class="preview-image" src="${url}">`)
    }
  })

  return $form
}

const generatePage = (info) => {
  const $page = $('#pages-my-posts-new')
  const $form = generateForm(info)
  $page.html('').append($form)
}

const handleSubmit = (e) => {
  e.preventDefault()
  const data = new FormData(e.currentTarget)

  // $('#post-new-form button[type="submit"]').attr('disabled', true)
  axios({
    method: 'POST',
    url: '/api/my/posts',
    data
  }).then((resp) => {
    window.location.href = `/my/posts/${resp.data.id}`
  }).catch((err) => {
    generatePage({ post: parseFormData(data), errors: err.response.data })
  })
}

const handleFileSelection = (e) => {
  const [file] = e.currentTarget.files

  if (file) {
    const url = URL.createObjectURL(file)
    $(e.currentTarget).before(`<img class="preview-image" src="${url}">`)
  }
}

  const handleAddImage = () => {
    const data = parseFormData(new FormData($('#post-new-form')[0]))
    data.images = [...data?.images || [], { url: '' }]

    generatePage({ post: data })
  }

  const handleDeleteImage = (e) => {
    const data = parseFormData(new FormData($('#post-new-form')[0]))
    const index = $(e.currentTarget).data('index')
    data.images.splice(index, 1)
    $('.file-input').eq(index).remove()
    generatePage({ post: data })
  }

$(document).ready(() => {
  generatePage()
  $('#pages-my-posts-new').on('submit', '#post-new-form', handleSubmit)
  $('#pages-my-posts-new').on('change', '.file-input', handleFileSelection)
  $('#pages-my-posts-new').on('click', '#add-post-image', handleAddImage)
  $('#pages-my-posts-new').on('click', '.delete-image', handleDeleteImage)
})

</script>
<%- contentFor('body') %>
<div id="pages-my-posts-new" class="container"></div>
